@import url('https://web-fonts.ge/dejavu-sans/');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
@import url('https://madmalik.github.io/mononoki/');

:root {
    --main-bg-color: #7ee8fa;
    --main-background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
}

*{
    padding: 0;
    margin: 0;
}

header{
    background-color: var(--main-bg-color);
    background-image: var(--main-background-image);
}

nav{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div{
    padding: 0 5px;
}


.logo{
    display: flex;
    align-items: center;
}

.container{
    min-height: calc(100vh - 60px - 12vh);
}

footer{
    color: #000000;
    background-color: var(--main-bg-color);
    background-image: var(--main-background-image);
    height: 12vh;
    font-family: 'DejaVu Sans', monospace;
}