@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
:root{
    --main-bg-color: #570914f2;
}
*{
    padding: 0;
    margin: 0;
}
header{
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Ubuntu', sans-serif; 
}
nav{
    display: flex;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
     font-weight: bolder;
}
nav ul li{
    list-style: none;
    padding: 0px 23px;
}
nav ul{
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    
}
.logo img{
    width: 95px;
    padding: 0px 23px;
}
.container{
    min-height: calc(100vh - 50px - 12vh);
}
.search{
    display: flex;
    align-items:center;
    padding: 0px 23px;

    
}
.search-box{
    width: 450px;
    height: 28px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: 0px 0px 0px 10px;
}
.btn{
    position: relative;
    top: 1px;
    height:28px;
    width: 80px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

}

footer{
    height: 12vh;
    background-color:var(--main-bg-color);
    color: blanchedalmond;
    font-family: 'Ubuntu', sans-serif; 
}

.slider{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right:auto;
    margin-top: 15px;
}